#root {
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  z-index: 2;
  background: var(--color-white);
}

#root,
#left-wall,
#right-wall {
  z-index: 1;
}

#left-wall,
#right-wall {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr;
  border-style: solid;
  border-color: var(--color-white);
  border-top: none;
  border-bottom: none;
}

#left-wall {
  border-right: none;
  border-left-width: var(--line-width);
}

#right-wall {
  border-left: none;
  border-right-width: var(--line-width);
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height);
}

.development .cell {
  outline: 1px solid #eee;
}

.development .cell-threshold {
  border-top: 2px solid darkgray;
}

.sprite.removing,
.sprite.removing:after,
.sprite.removing:before {
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: var(--remove-animation-duration);
  animation-iteration-count: 1;
}

@media screen and (max-width: 675px) {
  #root,
  #left-wall,
  #right-wall {
    margin-top: var(--info-sm-panel-height);
  }
}

@keyframes blink {
  0% {
    filter: invert(0%);
  }
  1% {
    filter: invert(100%);
  }
  31% {
    filter: invert(100%);
  }
  32% {
    filter: invert(0%);
  }
  62% {
    filter: invert(0%);
  }
  63% {
    filter: invert(100%);
  }
  93% {
    filter: invert(100%);
  }
  94% {
    filter: invert(0%);
  }
  100% {
    filter: invert(0%);
  }
}
