#touch-controls {
  display: none;
  height: var(--touch-controls-panel-height);
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--color-black);
  z-index: var(--z-foreground);
  width: 100%;
  border-top: 3px solid var(--color-white);
}

.touch-never #touch-controls {
  display: none;
}

.touch-always #touch-controls {
  display: flex;
}

.touch-controls-group {
  flex: 1;
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0px;
  padding: 0px 0px 10px 0px;
}

.touch-controls-group-left {
  margin-left: 10px;
}

.touch-controls-group-right {
  margin-right: 10px;
  justify-content: flex-end;
}

.touch-controls-group li {
  padding: 0px;
  margin: 0px;
  line-height: 0px;
}

.touch-controls-group li:not(:last-child) {
  margin-right: 25px;
}

.touch-control-button {
  appearance: none;
  width: 35px;
  height: 35px;
  color: var(--color-black);
  background: var(--color-white);
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  border: calc(var(--font-size) / 8) solid var(--color-grey-200);
  box-shadow: 0px 0px 0px calc(var(--font-size) / 12) var(--color-white);
  position: relative;
  padding: 0px;
  padding-top: 4px;
}

#arrow-left,
#arrow-right,
#arrow-down {
  font-size: 20px;
}

#arrow-left::after {
  content: "<";
  position: absolute;
  top: 0px;
  right: 2px;
}

#arrow-right::after {
  content: ">";
  position: absolute;
  top: 0px;
  left: 2px;
}

#arrow-down {
  margin-left: 25px;
}

#arrow-down::after {
  transform: rotate(90deg);
  content: ">";
  position: absolute;
  top: 2px;
  left: -2px;
}

#pause {
  position: relative;
}

#pause::after {
  --offset: 12px;

  content: "";
  position: absolute;
  top: -3px;
  left: calc(var(--offset) / 2);
  width: calc(100% - var(--offset));
  box-shadow: 0px 9px 0px 2px var(--color-black),
    0px 16px 0px 2px var(--color-black);
}

@media screen and (max-width: 675px) {
  #touch-controls {
    display: flex;
  }
}
