#info {
  --maximum-width: 350px;
  --panel-padding: 0px calc(var(--font-size) / 2);

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--color-black);
}

#info-sm {
  display: none;
  height: var(--info-sm-panel-height);
  overflow: hidden;
  position: absolute;
  z-index: var(--z-foreground);
  top: 0;
  left: 0;
  width: 100%;
  background: var(--color-black);
  color: var(--color-white);
  align-items: flex-start;
  justify-content: space-between;
  font-size: 13px;
  padding: 1px;
  padding-top: 2px;
}

#info-sm [data-id="score"],
#info-sm [data-id="level"],
#info-sm [data-id="lines"] {
  color: var(--color-white);
  background: var(--color-black);
}

.info-sm-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0px;
  margin: 0px 10px 0px 0px;
}

.info-sm-group:last-child {
  margin-right: 0px;
}

.info-sm-group li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box {
  background: var(--color-white);
  padding: calc(var(--font-size) / 16);
  padding-top: calc(var(--font-size) / 8);
  border: calc(var(--font-size) / 8) solid var(--color-grey-200);
  box-shadow: 0px 0px 0px calc(var(--font-size) / 12) var(--color-white);
}

#score-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: calc(100vh / 15);
}

#score-label {
  position: absolute;
  top: calc(100vh / 40);
  align-self: center;
}

[data-id="score"],
[data-id="level"],
[data-id="lines"] {
  pointer-events: none;
  text-align: right;
}

.info-panel-score {
  align-self: flex-end;
  margin-top: calc(var(--font-size) / 8);
  margin-bottom: calc(var(--font-size) / 8);
  position: relative;
  background: transparent;
  max-width: var(--maximum-width);
}

#score-spacer {
  width: 100%;
  height: calc(100vh / 20);
  background: var(--color-grey-200);
  border-top: calc(var(--font-size) / 12) solid var(--color-white);
}

#score-wrapper {
  width: 100%;
  background: var(--color-white);
  position: relative;
}

#score-wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  box-shadow: 0px calc(var(--font-size) / 10) 0px calc(var(--font-size) / 20)
    var(--color-grey-200);
}

#score-wrapper::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  box-shadow: 0px calc(0px - var(--font-size) / 10) 0px
    calc(var(--font-size) / 20) var(--color-grey-200);
}

#level-panel,
#line-panel,
#piece {
  max-width: var(--maximum-width);
}

#level-panel,
#line-panel {
  padding: var(--panel-padding);
}

#level-panel {
  margin-top: calc(100vh / 10);
}

#line-panel {
  margin-top: calc(100vh / 25);
}

#piece {
  margin: calc(var(--font-size) / 2);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

@media screen and (max-width: 675px) {
  #info-sm {
    display: flex;
  }

  #info {
    display: none;
  }
}
