@import url("variables.css");
@import url("area.css");
@import url("shapes.css");
@import url("info.css");

@font-face {
  font-family: "GameGirl";
  src: url("/assets/GamegirlClassic-9MVj.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
input {
  font-family: "GameGirl", monospace;
  font-size: var(--font-size);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-black);
}

input {
  appearance: none;
  min-width: 0px;
  width: 100%;
  border: none;
  padding-top: calc(var(--font-size) / 8);
  font-size: calc(var(--font-size) / 2);
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#left,
#right {
  display: flex;
  flex: 1;
  height: 100%;
}

#right {
  flex-direction: column;
  align-items: center;
}

#center {
  height: 100%;
  background-color: var(--color-white);
}
