@import url("variables.css");
@import url("area.css");
@import url("shapes.css");
@import url("info.css");
@import url("controls.css");
@import url("menu.css");

@font-face {
  font-family: "GameGirl";
  src: url("../assets/GamegirlClassic-9MVj.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  touch-action: manipulation;
}

html,
input,
button {
  font-family: "GameGirl", monospace;
  font-size: var(--font-size);
}

.input-sm {
  font-size: 13px;
  padding-top: 0px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100dh;
  height: 100vh;
  /* iPhone XR */
  min-width: 414px;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-black);
}

input {
  appearance: none;
  min-width: 0px;
  width: 100%;
  border: none;
  padding-top: calc(var(--font-size) / 8);
  font-size: calc(var(--font-size) / 2);
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

#left,
#right {
  display: flex;
  flex: 1;
  height: 100%;
}

#right {
  flex-direction: column;
  align-items: center;
}

#center {
  height: 100%;
  background-color: var(--color-white);
  display: flex;
}

@media screen and (max-width: 900px) {
  #left {
    display: none;
  }
}

@media screen and (max-width: 675px) {
  body {
    justify-content: center;
  }

  #right {
    display: none;
  }
}

@keyframes blink {
  0% {
    filter: invert(0%);
  }
  1% {
    filter: invert(100%);
  }
  31% {
    filter: invert(100%);
  }
  32% {
    filter: invert(0%);
  }
  62% {
    filter: invert(0%);
  }
  63% {
    filter: invert(100%);
  }
  93% {
    filter: invert(100%);
  }
  94% {
    filter: invert(0%);
  }
  100% {
    filter: invert(0%);
  }
}
