:root {
  --size: 20px;
  --cell-width: var(--size);
  --cell-height: var(--size);
  --wall-sprite-height: calc(var(--cell-height) * 0.75);
  --info-sm-panel-height: 30px;
  --touch-controls-panel-height: 70px;

  --color-black: #000;
  --color-white: #fff;
  --color-grey-100: #a8a8a8;
  --color-grey-200: #606060;

  --font-size: 2rem;

  --z-base: 0;
  --z-background: 1;
  --z-foreground: 2;
  --z-top: 3;
  --z-overlay: 10;
}
